body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #282c34 !important;
}

.header {
  justify-content: center;
  align-items: center;
  font-size: calc(3px + 2vmin);
  position: static !important;
  background-color: #282c34 !important;
}

#logo {
  position: fixed;
  left: 1vw;
  background-color: #34425f;
  padding: 10px;
  border-radius: 30px;
}

#logo h2, #logo p {
  margin: 0;
}

#logo h2 {
  font-size: x-large;
}

#logo p {
  font-size: large;
}

#menuButton {
  position: fixed;
  right: 1vw;
}

.footer {
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  position: static !important;
  background-color: #282c34 !important;
}

.footer h3 {
  margin: 0;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  width: 90vw;
  background-color: #fff !important;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2vmin;
}

.gameOptions {
  display: flex;
  align-items: center;
  padding: 1vmin;
  border: 1px solid #bbb;
  border-radius: 0.5vw
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

.gameGroup {
  display: flex;
  width: 100%;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
}

.gameDiv {
  height: 80%;
  width: 200px;
  border-radius: 20px !important;
}

a, a:visited {
  color: inherit;
}

ul a {
  text-decoration: none;
  width: 100%;
}